#inp {
    width: 400px;
    height: 30px;
}
.para {
    font-family: arial;
}
.main {
    /* color: antiquewhite; */
border: 2px solid;
width: 600px;
  
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(30px);
box-shadow: 5px 5px 5px rgb(58, 57, 57);
}



.out {
    
     border: 1px solid; 
    width: 600px;
    overflow-wrap: break-word;
}

body {
  
   background-image: url("https://www.shutterstock.com/image-vector/3d-knowledge-search-dictionary-lookup-260nw-2350352915.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}