body {
  background-color: rgb(232, 194, 241);
}

.listItem{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(to left,rgb(154, 61, 197), rgb(161, 160, 161));
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgb(31, 30, 30);
}
.main{
   /* border: 2px solid;  */


}
.list{
  
 margin: 5px; 
}
/* .listItem{
  border: 2px solid;
  margin: 10px 0px;
  background-color: antiquewhite;

} */
.listItem>img {
  border-radius: 5px;
  width:100px;
  margin:20px;
}
.listItem>h5{
  /* font-family: Italic; */
  width: 40%;
  text-align: left;
}
.listItem>i {

  width:10%;
}
.listItem>button{
  border-radius: 5px;
  margin:20px;
 
}
.listItem>h6{
  width:150px;
}
.total {
  margin-left: 700px;
}
#btn {
  background-color: burlywood;
}
#rbtn {
  margin: 20px 0px 20px 900px;
  background-color: rgb(233, 140, 48);
  /* margin: 20px; */
  border-radius: 5px;
}
#heading {
  margin-top: 10px;
  color: rgb(18, 19, 18);
  text-shadow: 5px 5px 7px  rgb(133, 128, 128);
  font-style: oblique;
  font-size: 50px;
  border: 0px solid  black;
  padding: 5px;
  margin: 20px 450px 0px 450px;
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgb(53, 53, 53);
  background-color: rgb(217, 159, 240);
}